/** Shopify CDN: Minification failed

Line 353:0 Unexpected "}"

**/
.threeCol div p {
    text-align: center;
} 
div#shopify-section-1637335746b8871380 .applyAnimation.socialHolder.come-in {
    margin-bottom: 65px;
}
@media(max-width:767px){

}
body#privacy-policy .grid {
    margin: 0 auto;
}

/* Reviews Stylings */
.Header__WidgetTitle-sc-17gc7x6-2.eYDagm {
    display: none;
}

div#shopify-section-template--15274132897988__1644332155f415e98a {
    background: #f5f5f5;
}
.LoadMoreButton__Component-sc-5z801y-1.cwgSXu {
    border-radius: unset;
    padding: 20px;   
    background-color: #000;
    border: 1px solid #000 ;
    color:#fff;
     font-family: "GT Walsheim Pro" !important;
}
a.WriteAReviewButton__Button-sc-55ha4u-1.jawWHo:hover {
    color: #000 !important;
    border: 1px solid #000;
    background-color: transparent;
    font-family: "GT Walsheim Pro" !important;
}
a.WriteAReviewButton__Button-sc-55ha4u-1.jawWHo{
    color: #fff;
    border: 1px solid #fff;
    font-family: "GT Walsheim Pro" !important;

}

a.WriteAReviewButton__Button-sc-55ha4u-1.jawWHo {
    border-radius: unset;
}
.LoadMoreButton__Component-sc-5z801y-1.cwgSXu:hover{
    border: 1px solid #000 ;
    background-color: transparent;
    color: #000;
}


/* Forms Styling */
.form-current-step-info {
    display: none;
}
.buttons-holder-main-h{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 50px;
    align-items: center;
}
.buttons-holder-main-h div {
    margin: unset !important;
    min-width: 150px;
    margin-top: 8px;
    text-align:center;
    justify-content: center;
}
.button-pr{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background: #000;
    color: #fff;
}
.btn-el{
    color: #fff;
}
.buttons-parent-holder {
    text-align: center;
    padding-top: 50px;
}

h3.text-titles-btns {
    font-family: 'GT Walsheim Pro';
    font-weight: 500;
    
}

h3.text-titles-btns.bold {
    font-weight: 600;
}
body#residentials .grid {
    margin: 0 auto;
    padding-bottom: unset;
}
body#residentials .grid__item.large--five-sixths.push--large--one-twelfth {
    padding: unset;
}
body#builder .grid {
    margin: 0 auto;
    padding-bottom: unset;
}
body#builder .grid__item.large--five-sixths.push--large--one-twelfth {
    padding: unset;
}
body#designer .grid {
    margin: 0 auto;
    padding-bottom: unset;
}

body#designer .grid__item.large--five-sixths.push--large--one-twelfth {
    padding: unset;
}
body#architect .grid {
    margin: 0 auto;
    padding-bottom: unset;
}

body#architect .grid__item.large--five-sixths.push--large--one-twelfth {
    padding: unset;
}

body#architect .grid__item.large--four-fifths.push--large--one-tenth{
    padding:unset;
}
body#designer .grid__item.large--four-fifths.push--large--one-tenth{
    padding:unset;
}
body#builder .grid__item.large--four-fifths.push--large--one-tenth{
    padding:unset;
}
body#residentials .grid__item.large--four-fifths.push--large--one-tenth{
    padding:unset;
}

a#dial-phone:hover {
    color: #fff !important;
}

div#shopify-section-template--15274132668612__163785258867b6d8a5 .boxDiv-template--15274132668612__163785258867b6d8a5 {
    /* max-width: 35%; */
    width: 100%;
    max-width:250px;
}
div#shopify-section-template--15274132668612__163785258867b6d8a5 .textDiv-template--15274132668612__163785258867b6d8a5 {
    width: 100%;
    max-width:250px;
   
}

div#shopify-section-template--15375145894084__163785258867b6d8a5 .flexDiv.fullWidth.custom-size-New div{
    width: 100%;
    max-width:250px;
}
@media  (max-width: 1009px){
div#shopify-section-template--15375145894084__163785258867b6d8a5 .flexDiv.fullWidth.custom-size-New div{
     max-width:unset;
    width: 100%;
}
div#shopify-section-template--15274132668612__163785258867b6d8a5 .boxDiv-template--15274132668612__163785258867b6d8a5{
    max-width:unset;
    width: 100%;
 
}
div#shopify-section-template--15274132668612__163785258867b6d8a5 .textDiv-template--15274132668612__163785258867b6d8a5 {
    width: 100%;
    max-width:unset;

}
}

.footer-one{
    border-top: 1px solid rgba(195,195,195,.5);
}
.verticalCenter.textDiv-template--15274132635844__16448472995feaa43f.NewMarginDiv {
    flex-direction: column-reverse;
}
@media(max-width:900px){
    .flexDiv-Reverse {
        flex-direction: column !important;
    }
    .NewMarginDiv{
        margin: unset !important;
    }
    h2.GT-400.customHeading.heading-template--15274132635844__16448472995feaa43f {
        margin-bottom: unset;
        margin-top: 6.597222222222222vw;
    }
}

@media(max-width:1009px){
  
.productThumbnailVideo{
    margin-left: 16px;
    height: 64px;
    width: auto;
    cursor: pointer;
    border: 1px solid #fff;
}
}
shopify-payment-terms {
    display: none;
}

.iframeVideo{
 border:unset; 
}

    .img-thumb-video {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
          margin-bottom: 1.11vw;
    }

    .img-thumb-video svg {
        /* width: 15px; */
        /* height: 15px; */
        position: absolute;
        left: 0;
        right: 0;
        width: 40px;
      height:40px;
        /* bottom: 0; */
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .img-thumb-video svg path {
        fill: #000;
    }

.iframeVideo{
  top:0;
}

@media(max-width:1009px){
.img-thumb-video svg {
    width: 55%;
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left:unset ;
     right: unset;
    margin-left: 10px;
    text-align: center;
}}


.shopify-policy__container {
    max-width: 1200px !important;
    padding-top: 150px;
}

@media(max-width:800px){
 .shopify-policy__container {
    max-width: 1200px !important;
    padding-top: 100px;
} 
}
@media(min-width:1009px){
 #shopify-section-template--15450750648516__163785258867b6d8a5 img.fullWidth.come-in-1 {
    max-width: 300px;
}
}
.stickyAbout {
    z-index: 5 !important;
}

span#ComparePrice {
    font-size: 1.7vw;
    font-family: GT Walsheim Pro;
    font-weight: 500;
    letter-spacing: 0;
    margin-left: 10px;
    position: relative;
    top: 0;
}
.flexDiv.fullWidth.custom-size-New.applyAnimation.already-visible div {
    width: unset  !important;;
}
.boxDiv-template--15725907280068__163785258867b6d8a5{
  
   width:unset !important; 
}

.textDiv-template--15725907280068__163785258867b6d8a5{width:unset !important; }
.textDiv-template--15563506385092__163785258867b6d8a5{
  width:unset !important;
}
@media(max-width:1009px){
  .flexDiv.fullWidth.custom-size-New.applyAnimation.come-in div img {
    width: 100%;
}
  .custom-offers {
    text-align: left;
    font-size: 12px;
    padding-bottom: 20px;
    padding: 20px;
    font-size: 20px !important;
}
.custom-offers h2{
 font-size:16px !important; 
}
}

@media(max-width:1280px){
   .shopify-policy__container {
    max-width: 1000px !important;
    padding-top: 100px;
}
  
}

@media(max-width:1180px){
   .shopify-policy__container {
    max-width: 900px !important;
    padding-top: 100px;
}
  
}

img.videoImage.productThumbnailVideo {
    min-width: 100px;
    margin: unset;
    object-fit: cover;
    width: 100%;
}
.customizationtemplate #shopify-section-template--15694629372100__1661494495a0aab569 .buttonDiv {
    transition: all .6s ease-out;
        background-color: black!important;}

  .customizationtemplate #shopify-section-template--15694629372100__1661494495a0aab569 .Homepage_main_section .buttonDiv {
    transition: all .6s ease-out;
    background-color: transparent!important;
}
}


