body {
color: #444;
font-family: 'Zilla Slab', serif;
font-size: 18px;
font-weight: 400;
line-height: 26px;
background:#fff;
overflow-x:hidden;
}
html,
body { height: 100%;position:relative;  }
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  margin-top: 0px; 
 font-family: 'Zilla Slab', serif;
  color: #1d293e;
  font-weight: 400;
}
a {
font-family: 'Zilla Slab', serif;
text-decoration: none;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

/*START PRELOADER DESIGN*/
.preloader {
	background:#fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;	
}
.spinner {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	font-size: 10px;
	text-indent: -12345px;
	z-index: 10000;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #054A49;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
.section-padding {padding:80px 0;}
/*START SECTION TITLE DESIGN*/
.title_spectial {
	color: #1d293e;
	text-align: center;
	font-weight: 600;
	margin-bottom: 60px;
	text-transform: uppercase;
	font-size: 24px;
}
.title_spectial_two {
color: #fff;
text-align: center;
font-weight: 600;
margin-bottom: 60px;
text-transform: uppercase;
font-size: 24px;
}
.title_spectial_two:after {
	content: "";
	display: block;
	background: #fff;
	width: 60px;
	height: 2px;
	margin: auto;
	margin-top: 15px;
}
.title_spectial:after {
	content: "";
	display: block;
	background: #054A49;
	width: 60px;
	height: 2px;
	margin: auto;
	margin-top: 15px;
}
.no-padding{padding:0;}
/*END SECTION TITLE DESIGN*/
.section-title  p{
padding: 0 10px;
width: 60%;
margin: auto;	
}
@media only screen and (max-width:480px) { 
.section-title  p{
padding: 0 10px;
width: 90%;
margin: auto;	
}
}
/*END SECTION TITLE DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
background:#054A49;
border-radius: 30px;
border:2px solid #054A49;
bottom: 5px;
box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
color: #fff;
cursor: pointer;
font-size: 22px;
height: 50px;
line-height: 47px;
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
position: fixed;
right: 5px;
text-align: center;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
width: 50px;
}
.topcontrol:hover {
    background:#fff;
	border:2px solid #054A49;
	color:#054A49;
}
/*END SCROLL TO TOP*/

/*START BTN*/
.btn_one {
	background:#054A49;
	border-radius: 30px;
	border:2px solid #054A49;
	color: #fff;
	font-weight: 700;
	padding: 12px 40px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 14px;
}
.btn_one i{margin-right:5px;}
.btn_one:hover{
background:none;
border:2px solid #fff;
color:#fff;
}
.btn_doc {
	background:#054A49;
	border-radius: 30px;
	border:2px solid #054A49;
	color: #fff;
	font-weight: 700;
	padding: 12px 40px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 14px;
	
}
.btn_doc i{margin-right:5px;}
.btn_doc:hover{
background:none;
border:2px solid #000000;
color:#000000;
}
.btn_two {
	background:none;
	border-radius: 30px;
	border: 2px solid #fff;
	color: #fff;
	font-weight: 700;
	padding: 12px 40px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 14px;
}
.btn_two i{margin-right:5px;}
.btn_two:hover{
background:#054A49;
border:2px solid #054A49;
color:#fff;
}
.btn_three {
	background:none;
	border-radius: 30px;
	border: 2px solid #054A49;
	color: #054A49;
	font-weight: 700;
	padding: 12px 40px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 14px;
}
.btn_three i{margin-right:5px;}
.btn_three:hover{
background:#054A49;
border:2px solid #054A49;
color:#fff;
}
.btn_apple:hover{
background:#fff;
border:2px solid #054A49;
color:#054A49;
}
/*END BTN*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 02.START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.site-logo img{
	width: 100px;
	height: auto;
	margin-top:5px;
}
.navbar-fixed .logo-hidden{
display:block!important;	
}
.bg-faded {
	background-color:transparent;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
@media only screen and (max-width:767px) { 
.bg-faded {background-color:#054A49!important;}
}
.navbar-fixed {
    z-index: 999;
    position: fixed;
    opacity: .98;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
    width: 100%;
	padding:20px 0;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
    background: #054A49;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
}

@media only screen and (max-width:768px) { 
.navbar-fixed {background: #054A49!important;}
}
#navigation{
	padding: 20px 0;
}
#navigation.navbar-fixed {
	padding: 20px 0;
}
.header_right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;float: right;
}
@media only screen and (max-width:480px) { 
.header_right {float: none;}
}
#main-menu{
	margin-top: 12px;
}
#main-menu ul{
	list-style-type: none;
}
#main-menu ul li{
	display: inline-block;
	padding:0px 12px;
	position: relative;
}
#main-menu ul li a {
	color: #fff;
	font-size: 18px;
	text-transform: capitalize;
	-webkit-transition: .3s;
	transition: .3s;
}
#navigation.navbar-fixed #main-menu ul li a{
	color: #fff;
}
#navigation.navbar-fixed #main-menu ul li a:hover,
#navigation.navbar-fixed #main-menu ul li a:focus,
#main-menu ul li a:hover,
#main-menu ul li a:focus{
	color:#fff;
}

.slicknav_nav_icon{
	color: #fff;
	font-size: 24px;
}
.slicknav_menu .slicknav_icon:before {
	background: transparent;
	width: 1.125em;
	height: 0.875em;
	display: block;
	content: "\e68e";
	position: absolute;
	font-family: 'themify';
	color: #fff;
	font-size: 20px;
}
#mobile_menu{display: none;}
@media only screen and (max-width:767px) { 
.navbar-default {
padding: 10px!important;
}
.navbar-collapse{
margin-top: 15px;
}

#navigation ul li a{ 
position: inherit;
color: #333;

}

#navigation ul li ul ,
#navigation ul li ul li ul{
opacity: 1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
position: inherit;
top: 0;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
z-index: 1;
visibility: visible;
background: #fff none repeat scroll 0 0;
box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.05);
padding: 15px;
left: 0;
background: #f5f5f5;
list-style: none;
width: 100%;
}



#navigation ul li ul.sub-menu li{
z-index: 1;
}

#navigation ul li:hover ul.sub-menu{
top:0;
opacity:1;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
z-index:999;
visibility:visible;
}
#main-menu{
display: none;
}	
#mobile_menu{
display: block;
width: 100%;
}
.slicknav_nav ul li a{
color: #fff !important;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
}
	
}
@media only screen and (max-width:767px) { 
  .navbar-brand {
    padding-top: 20px;
  }
.slicknav_menu {
	font-size: 15px;
	box-sizing: border-box;
	background: transparent;
	padding: 0;
	margin-top: 10px;
}  
}
@media only screen and (max-width:480px) { 
.slicknav_menu {
	margin-top: -50px;
}
}

.block-menu {
	background:none;
	border-radius: 30px;
	border:2px solid #fff;
	color: #fff;
	font-weight: 700;
	padding: 10px 30px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-transform: uppercase;
	z-index: 1;
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 14px;
	margin-top: -11px;
}
.block-menu:hover{
background:#fff;
border:2px solid #fff;
color:#054A49!important;
}

@media only screen and (max-width:1024px) {
#main-menu ul li {padding: 0px 5px;}
#main-menu ul li a {font-size: 12px;}
.block-menu {
	padding: 9px 30px;
	margin-top:0px;
}
#main-menu {
	margin-top: 5px;
}
}

@media only screen and (max-width:800px) {
#main-menu ul li {padding: 0px 5px;}
#main-menu ul li a {font-size: 12px;}
.block-menu {
	padding: 9px 30px;
	margin-top:0px;
}
#main-menu {
	margin-top: 5px;
}
}

/*START 768PX SIZE DEVICE*/
@media only screen and (max-width:768px) {
.bg-faded {background-color:#054A49;}
.navbar-fixed {background: #054A49;}
.navbar-brand { padding-top: 20px;}
.slicknav_menu {
	font-size: 15px;
	box-sizing: border-box;
	background: transparent;
	padding: 0;
	margin-top: 10px;
}
#main-menu {
	margin-top: 5px;
}
#main-menu ul li a {font-size: 12px;}
#main-menu ul li {padding: 0px 3px;}
.block-menu {
	padding: 9px 30px;
	margin-top:0px;
}
}
@media only screen and (max-width:736px) {
.block-menu {text-align:center;width:130px;}
}
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.home_bg_particle {
	position: relative;
    background-image: url(../img/bg/banner-particle.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:750px;
}
.home_bg_particle::before {
	background: #020928;
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	opacity: 0.7;
}
@media only screen and (max-width:880px) { 
.home_bg {height:auto;}
}
.hero-text-five{
position: relative;
padding-top: 250px;
}
.hero-text-five h2 {
	color: #fff;
	font-size: 56px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 66px;
	text-transform: capitalize;
	margin-bottom: 15px;
}
@media only screen and (max-width:768px) { 
.hero-text-five h2 {
font-size: 40px;
line-height: 46px;
}
}
@media only screen and (max-width:480px) { 
    .hero-text-five h2 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width:360px) { 
    .hero-text-five h2 {
        font-size: 26px;
        line-height: 34px;
    }
}
.hero-text-five p {
	color: #fff;
	width: 70%;
	margin: auto;
}
.home_btn{margin-top:40px;}
.hero-text-img {
    padding-top: 150px;
}
.hero-text-img img {
  width: 100%;
}
.item-bounce {
	-webkit-animation: bounce 8s infinite ease-in-out;
	animation: bounce 8s infinite ease-in-out;
}
.home_btn a {
	margin-right: 10px;
}
.about_btn a span{}

.head-menu{
	display: flex;
	justify-content: end;
	align-items: center;
}

.home_counter {
	margin-top: 170px;
	background:rgba(5,74,73,0.2);
	padding: 40px;
	border-radius: 5px;
	position: relative;
}
@media only screen and (max-width:880px) { 
.home_counter{margin-top:60px;margin-bottom:60px;padding:15px;}
}
.home_counter h1{
color:#fff;
text-align: center;
font-weight: 600;
}
.home_counter p{}
/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 04.START ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/
.about-text h1 {
	color: #1d293e;
	font-size: 40px;
	font-weight: 600;
	line-height: 58px;
	text-transform: capitalize;
	margin-bottom: 15px;
	text-align: center;
}
@media only screen and (max-width:480px) { 
    .about-text h1 {
        font-size: 30px;
        line-height: 40px;
    }
}
.about-text p{margin-bottom:20px;text-align: justify;} 
.about-text span {font-weight: bold;}
.about_btn{margin-top:40px;}

.imgblock{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-img{}

.video_btn {
	color: #054A49;
	font-weight: bold;
}
.video_btn:hover {
	color: #054A49;
}
.video_btn i {
	background: #054A49;
	color: #fff;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100px;
	margin-right:15px;
	display: inline-block;
	box-shadow: 10px 15px 18px rgba(23, 23, 36, 0.15);
}


/*
* ----------------------------------------------------------------------------------------
* 04.END ABOUT DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 05.START WHY CHOOSE DESIGN
* ----------------------------------------------------------------------------------------
*/
.process_area {}
.process_num {
	background: rgba(70, 68, 202, 0.2) none repeat scroll 0 0;
	border-radius: 500px;
	display: inline-block;
	height: 80px;
	margin-bottom: 10px;
	position: relative;
	width: 80px;
}
.single_process {
	background: #fff;
	padding: 40px;
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
	border-radius: 5px;
}
.single_process h4 {
	background:#054A49;
	border-radius: 500px;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	height: 60px;
	left: 50%;
	line-height: 60px;
	margin: auto;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 60px;
}
@media only screen and (max-width:480px) { 
.single_process {margin-bottom:30px;}
}
.single_process h3 {
	font-size: 20px;
	font-weight: bold;
}
.single_process p{}
/*
* ----------------------------------------------------------------------------------------
* 05.END WHY CHOOSE DESIGN
* ----------------------------------------------------------------------------------------
*/

.currency_live {
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.currency_live iframe{
width:100%;
height:410px;
border:0px;
}

.currency_content{
padding:60px;
position: relative;
}
.currency_content h3{
	color:#fff;
	font-size: 56px;
	font-weight: 700;
}
.currency_content h5{
	font-size: 22px;
	font-weight:600;
}
.currency_content p {
	margin-top: 20px;
	margin-bottom: 30px;
}
.currency_content a{margin-top:30px;}

/* ----------------------------------------------------------------------------------------
* 08.START TOKEN SALE + DISTRIBUTION DESIGN
* ----------------------------------------------------------------------------------------
*/

.token_sale_area {
	background: #054A49;
	padding-bottom: 50px;
}

.pre_sale_area{}
.single_presale {
	background:rgba(46, 161, 159, 0.2);
	text-align: center;
	margin-bottom: 30px;
	padding:34px 25px;
	border-radius: 5px;
}
.single_presale h5 {
	color:#fff;
	font-size: 18px;
	font-weight: 600;
}
.single_presale p{color: #fff;}




.token_sale_bg{
  background:rgba(46, 161, 159, 0.2);
  padding: 50px 58px;
  border-radius: 5px;
}
.ca-starts-in {}

.ca-starts-in .title {
	font-size: 36px;
	font-weight: 700;
	margin: 0 0 12px;
	text-align: center;
}

.ca-starts-in .info {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 28px;
	text-align: center;
	color: #fff;
}

.ca-starts-in .timer-area {
  margin: 0 0 30px;
}

.ca-starts-in .timer-area div {
color:#fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ca-starts-in .timer-area div .cdown {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 25%;
  display: block;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  margin-right: 16px;
  padding: 13px 4px;
}

.ca-starts-in .timer-area div .cdown:last-child {
  margin-right: 0;
}

.ca-starts-in .timer-area div .cdown .time-count {
  display: block;
  font-size: 24px;
  color:#333;
  line-height: 26px;
  font-weight: 700;
}
.ca-starts-in .timer-area div .cdown p {
	display: block;
	 color:#333;
	font-size: 16px;
	line-height: 18px;
}
.progress-box {
	margin: 40px 0;
}
.progress-box .info {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cs-recived .progress-box .info .left {
  -webkit-box-flex: 1;
  color: #fff;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.cs-recived .progress-box .info .right {
  -webkit-box-flex: 1;
  color: #fff;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: right;
}

.cs-recived .progress-box .box {
  position: relative;
  background: #ffffff;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  margin: 0 0 17px;
}

.cs-recived .progress-box .box:before {
  content: "";
  background:#054A49;
  border-radius: 50px;
  position: absolute;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
}

.cs-recived .progress-box .box.w-40:before {
  width: 40%;
}

.cs-recived .progress-box .box:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 1px;
  height: 64px;
  left: 3px;
  top: 0;
}

.cs-recived .progress-box .box.b-10:after {
  left: 10%;
}

.cs-recived a {
	text-align: center;
	float:left;
}
.buy-icons{overflow: hidden;}

.buy-icons img {
	float: right;
	margin-top: 20px;
}

/*START DISTRIBUTION DESIGN*/
.token_img_area {
	background: #054A49;
}
.token-img{}

.token-img h4 {
	font-weight: 600;
	margin-bottom: 60px;
	color:#fff;
}

.fund-img h4{
	font-weight: 600;
	margin-bottom: 60px;
	color:#fff;
}
/*END DISTRIBUTION DESIGN*/
/* ----------------------------------------------------------------------------------------
* 08.END TOKEN SALE + DISTRIBUTION DESIGN
* ----------------------------------------------------------------------------------------
*/

/* ----------------------------------------------------------------------------------------
* 09.START DOCUMENT DESIGN
* ----------------------------------------------------------------------------------------
*/
.document_img{text-align: center;
}
.document_img img{box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
border: 1px solid #e8e8ee;}
.document_content{padding-left: 20px;}
.document_content p{margin-bottom: 30px;
text-align: justify;}
/* ----------------------------------------------------------------------------------------
* 09.END DOCUMENT DESIGN
* ----------------------------------------------------------------------------------------
*/

/* ----------------------------------------------------------------------------------------
* 10.START ROADMAP DESIGN
* ----------------------------------------------------------------------------------------
*/
.roadmap{}
.roadmap:before {
	content: "";
	background: #eee;
	display: block;
	height: 5px;
	margin: 20px 0;
}
.roadmap_color:before {
	content: "";
	background: #054A49;
	display: block;
	height: 5px;
	margin: 20px 0;
}
.roadmap span {
	border: 3px solid #054A49;
	width: 20px;
	height: 20px;
	border-radius: 30px;
	display: block;
	background: #fff;
	position: absolute;
	top: 12px;
	left: 44%;
}
.roadmap h5{font-weight:500;}
.roadmap p{}
.roadmap p{}
.roadmap_bg {
	background: #054A49;
	color: #fff;
	padding: 30px 20px;
	border-radius: 10px;
	margin-top: 40px;
	margin-right: 15px;
}
.roadmap_bgg{
margin-top: 40px;
	background: #fff;
	padding: 30px 20px;
}
.roadmap_bg::after {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #054A49;
	position: absolute;
	bottom: 106px;
	left: 95px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.roadmap_bg h5{color:#fff;}
/* ----------------------------------------------------------------------------------------
* 10.END ROADMAP DESIGN
* ----------------------------------------------------------------------------------------
*/

/* ----------------------------------------------------------------------------------------
* 11.START TEAM AND BOARD DIRECTOR DESIGN
* ----------------------------------------------------------------------------------------
*/
.team_area{background-color: #f5f6fb;}
.team_title {
	color: #fff;
	margin-bottom: 60px;
	text-align: center;
	text-transform: capitalize;
	font-weight: 600;
}
.our-team {}
.team-block{gap: 50px;}
@media only screen and (max-width:768px) { 
.our-team {margin-bottom:30px}
}
.single-team{margin-bottom:10px;height: 307px;}
.single-team img {
	margin-bottom:15px;
	border-radius:2px;
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.3);
}
.single-team h3 {
	margin-bottom:0px;
	font-size:18px;
	font-weight: 600;
}
.single-team p{margin-bottom:0px;}

.our-team .social {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.our-team .social li{
display: inline-block;
}
.our-team .social li a {
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	color: #fff;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	border-radius: 30px;
	margin: 3px;
}
.our-team:hover .social li:nth-child(1) a{
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
.our-team:hover .social li:nth-child(2) a{
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s
}
.our-team:hover .social li:nth-child(3) a{
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
}
.our-team:hover .social li:nth-child(4) a{
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
.our-team .social li a:hover{
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

.facebook{background: #1C58A1;}
.facebook:hover{background: #fff;color:#1C58A1!important;}
.twitter{background: #0CBCE3;}
.twitter:hover{background: #fff;color:#0CBCE3!important;}
.google{background: #F04537;}
.google:hover{background: #fff;color:#F04537!important;}

/*START BOARD DIRECTOR*/
.bod_area {
	padding-bottom: 80px;
	background: #F7FAEB;
}
.our-bod {}
@media only screen and (max-width:768px) { 
.our-bod {margin-bottom:30px}
}
.single-bod{margin-bottom:10px;}
.single-bod img {
	margin-bottom:15px;
	width: 180px;
	border-radius:2px;
	height: 180px;
	border: 10px solid #fff;
}
.single-bod h3 {
	margin-bottom:0px;
	font-size:18px;
	font-weight: 600;
}
.single-bod p{margin-bottom:0px;}

.our-bod .social {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.our-bod .social li{
display: inline-block;
}
.our-bod .social li a {
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	color: #fff;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	border-radius: 30px;
	margin: 3px;
}
.our-bod:hover .social li:nth-child(1) a{
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
.our-bod:hover .social li:nth-child(2) a{
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s
}
.our-bod:hover .social li:nth-child(3) a{
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
}
.our-bod:hover .social li:nth-child(4) a{
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
.our-bod .social li a:hover{
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}
/*END BOARD DIRECTOR*/
/* ----------------------------------------------------------------------------------------
* 11.END TEAM AND BOARD DIRECTOR DESIGN
* ----------------------------------------------------------------------------------------
*/

/* ----------------------------------------------------------------------------------------
* 12.START APP DESIGN
* ----------------------------------------------------------------------------------------
*/
.app_area{background-color: #f5f6fb;}
.app-text {
	margin-top: 60px;
}

.app-text h2 {
	font-size: 40px;
	margin-bottom:20px;
	font-weight: 600;
	text-transform: capitalize;
}
.app-text p{margin-bottom: 20px; text-align: justify;}
.app-text ul{list-style:none;margin-top: 30px;}
.app-text ul li {
	font-size: 20px;
	line-height: 36px;
	margin-bottom: 20px;
}
.app-text ul li span {
	font-size: 22px;
	background: #fff;
	color: #054A49;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 30px;
	margin-right: 15px;
	display: inline-block;
	border: 2px solid #054A49;
}



/* ----------------------------------------------------------------------------------------
* 12.END APP DESIGN
* ----------------------------------------------------------------------------------------
*/

/* ----------------------------------------------------------------------------------------
* 13.START FAQ DESIGN
* ----------------------------------------------------------------------------------------
*/
.faq1-area {
  padding: 80px 0;
}
.accordion-item {
	border: 2px solid #eee;
	margin-bottom: 15px;
}
.accordion-header {
	background: #f5f6fb !important;
	padding: 10px 0;
	box-shadow: none;
}
.accordion-button {
	background: #f5f6fb !important;
	color: #1d293e !important;
	font-weight: 600;
	font-size:20px;
}
.accordion-button:not(.collapsed) {
	color:#1d293e!important;
	box-shadow: none !important;
}
/* ----------------------------------------------------------------------------------------
* 13.END FAQ DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 14.START CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/

.contact_us{}
.contact {
	background-color: #f5f6fb;
	padding: 60px;
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.contact h4 {font-weight: 700;}
.contact p {
margin-bottom:40px;
}
.contact input {
	background: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 0px;
	box-shadow: none;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	height: 52px;
	padding: 0;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	border-right: 1px;
	border-left: 1px;
	border-top: 1px;
	margin-bottom: 30px;
	padding-left: 15px;
}
.contact textarea {
	background: #fff;
	border-bottom: 1px solid #eee;
	border-radius: 0px;
	box-shadow: none;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	margin-bottom: 30px;
	padding-left: 15px;
	padding-top: 15px;
}
.contact input:focus {
background: #fff;
color: #333;
border-bottom: 1px solid #eee;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
    box-shadow: none;
    outline: 0 none;
}
.contact textarea:focus {
background: #fff;
color: #333;
border-bottom: 1px solid #eee;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
    box-shadow: none;
    outline: 0 none;
}
.btn_contact_btn {
	font-size: 16px;
	background: #16A2E8;
	border:2px solid #16A2E8;
	padding: 12px 30px;
	color: #fff;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.btn_contact_btn:hover{
color: #fff;
border:2px solid #16A2E8;
background:none;
}
.address_btm{margin-top:50px;}
.address_bg {
	background: #054A49;
	padding: 60px;
	color: #fff;
}
.address_title{margin-bottom:40px;}
.address_title h4{color:#fff;}
.address_title p{}
.address_title a{color: rgb(139, 202, 232) !important;}
.single_address {
	margin-bottom: 15px;
	overflow: hidden;
	display: flex;
	gap: 20px;
}
.single_address span {
	float: left;
	margin-right: 15px;
	background: rgba(255,255,255,0.1);
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 30px;
}
.single_address p{padding-top: 6px;font-size: 15px;}
.map{}
.map iframe {
	width: 100%;
	padding-right: 40px;
	height: 600px;
}
/*
* ----------------------------------------------------------------------------------------
* 14.END CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 15.START PARTNER DESIGN
* ----------------------------------------------------------------------------------------
*/
.partner-logo {
	padding-top: 0;
}
.partner {
	background: #fff;
	padding: 40px 30px;
	border-radius: 5px;
	box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.partner-logo img {
	width: 130px;
	border: 1px solid #eee;
	padding: 10px;
}
.partner.owl-theme .owl-controls {
display:none !important;
}
/*
* ----------------------------------------------------------------------------------------
* 15.END PARTNER DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 16.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
	padding-bottom: 50px;
	padding-top: 80px;
	background:#054A49;
	position:relative;
}
.footer_logo {}
.footer_logo img{
width:150px;
}
.footer_logo p {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 25px;
}
.single_footer{}
.single_footer h4 {
	color: #fff;
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 17px;
}
.single_footer p{color:#a9b4c7;}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li{}
.single_footer ul li a {
	color: #fff;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 36px;
	font-size: 15px;
	text-transform: capitalize;
}
.single_footer ul li a:before {
	content: "-";
	font-family: "LineAwesome";
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	margin-right: 6px;
}
.single_footer ul li a:hover {padding-left:10px;}

.single_footer_address{}
.single_footer_address ul{}
.single_footer_address ul li{color:#fff;}
.single_footer_address ul li span {
	font-weight: 400;
	color: #fff;
	line-height: 28px;
}
.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.single_footer_address p {
	margin-bottom: 10px;
}

/*START SOCIAL PROFILE CSS*/
.newsletter-form{}
@media only screen and (max-width:768px) { 
.newsletter-form{padding-top:50px;}
}
.newsletter-form h4{
	color: #fff;
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 18px;
}
.newsletter-form input {
	background: none;
	border: 2px solid rgba(255,255,255,0.1);
	border-radius: 30px;
	box-shadow: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	height: 52px;
	padding: 10px 10px 10px 30px;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}
.subscribe button {
	margin-top:30px;
	width: 100%;
	border: 2px solid #fff;
}
/*START FOOTER SOCIAL DESIGN*/
.footer_profile {
	margin-top: 30px;
}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}
@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}
.footer_profile ul li a img{width:60px;}

.footer_profile ul li a {
	width: 50px;
	height: 50px;
	display: block;
	text-align: center;
	margin-right:5px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	-webkit-transition: .5s;
	transition: .5s;
}
.footer_profile ul li a .fa {
	width: 100%;
	height: 100%;
	display: block;
	background: -webkit-linear-gradient(bottom, #fff, #ddd);
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px - 12px);
	font-size: 18px;
	color: #262626;
	line-height: 40px;
	-webkit-transition: .5s;
	transition: .5s;
}
.s_facebook{background: -webkit-linear-gradient(bottom, #1C58A1, #1C58A1);background: linear-gradient(0deg, #1C58A1, #1C58A1);}
.s_twitter{background: -webkit-linear-gradient(bottom, #0CBCE3, #0CBCE3);background: linear-gradient(0deg, #0CBCE3, #0CBCE3);}
.s_instagram{background: -webkit-linear-gradient(bottom, #9d0191, #9d0191);background: linear-gradient(0deg, #9d0191, #9d0191);}
.s_linkedin{background: -webkit-linear-gradient(bottom, #0e76a8, #0e76a8);background: linear-gradient(0deg, #0e76a8, #0e76a8);}
/*END FOOTER SOCIAL DESIGN*/
.footer_copyright {
	border-top: 1px solid rgba(255,255,255,0.08);
	padding-top: 30px;
	margin-top: 60px;
}
.footer_copyright p{
color:#fff;
text-align: center;
text-transform: capitalize;
}
/*
* ----------------------------------------------------------------------------------------
* 16.END FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/




.roadmap-section{
	position: relative;
	padding: 100px 0px 90px;
  }
  
  .roadmap-section .bg-layer-left{
	  position:absolute;
	  left:0px;
	  top:0;
	  width:320px;
	  height:1320px;
	  opacity:1;
	  z-index: 0;
	  background-repeat: no-repeat;
	  background-position: left top;
  }
  
  .roadmap-section .roadmap-box{
	position: relative;
	display: block;
	max-width: 852px;
	padding-right: 50px;
	min-height: 710px;
	margin: 0 auto;
  }
  
  .roadmap-section .roadmap-box .image-layer{
	  position:absolute;
	  left:0px;
	  top:66px;
	  width:100%;
	  height:640px;
	  opacity:1;
	  z-index: 0;
	  background-repeat: no-repeat;
	  background-position: center top;
  }
  
  .roadmap-section .items-row{
	position: relative;
  }
  
  .roadmap-section .first-row{
	position: relative;
  }
  
  .roadmap-section .mid-row{
	padding-top: 78px;
  }
  
  .roadmap-section .last-row{
	padding-top: 78px;
  }
  
  .roadmap-block{
	position: relative;
	margin-bottom: 30px;
	z-index: 1;
  }
  
  .owl-theme .roadmap-block{
	margin-bottom: 0;
  }
  
  .roadmap-section .items-row .row{
	margin: 0 -60px;
  }
  
  .roadmap-section .items-row .row .roadmap-block{
	padding: 0 60px;
  }
  
  .roadmap-block .inner-box{
	position: relative;
	display: block;
	text-align: center;
  }
  
  .roadmap-block .inner-box .check-icon{
	position: relative;
	display: block;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 38px;
	color: #ffffff;
	font-size: 18px;
	margin: 0 auto 20px;
	border: 2.5px solid #414073;
	background: #050023;
	border-radius: 50%;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
  }
  
  .roadmap-block .inner-box:hover .check-icon{
	transform:rotateY(180deg);
  }
  
  .roadmap-block .inner-box.checked .check-icon{
	  background: #3772FF;
	  border-color: #3772FF;
  }
  
  .roadmap-block .inner-box .check-icon i,
  .roadmap-block .inner-box .check-icon .fa,
  .roadmap-block .inner-box.checked .check-icon:before{
	display: none;
  }
  
  .roadmap-block .inner-box.checked .check-icon i,
  .roadmap-block .inner-box.checked .check-icon .fa{
	display: inline-block;
  }
  
  .roadmap-block .inner-box .check-icon:before{
	content: '';
	position: absolute;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #6F6F93;
	background: #050023;
	border-radius: 50%;
	opacity: 0.50;
  }
  
  .roadmap-block .inner-box .date{
	position: relative;
	display: block;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4em;
	margin-bottom: 15px;
  }
  
  .roadmap-block .inner-box .date span{
	position: relative;
	display: inline-block;
	border-bottom: 2px solid #3772FF;
  }
  
  .roadmap-block .lower-box{
	position: relative;
	display: block;
	padding: 15px 15px;
	background: #201F3A;
	text-align: center;
	border-radius: 20px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
  }
  
  .roadmap-block h5{
	position: relative;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5em;
	margin-bottom: 5px;
  }
  
  .roadmap-block .text{
	position: relative;
	color: #E0E0E0;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5em;
  }
  .roadmap-two{
	position: relative;
  }
  
  .roadmap-two .bg-layer{
	  position:absolute;
	  left:0px;
	  top:0;
	  width:100%;
	  height:100%;
	  opacity:1;
	  z-index: 0;
	  background-repeat: no-repeat;
	  background-position: center 130px;
	  background-size: 100% auto;
  }
  
  .roadmap-two .roadmap-box{
	position: relative;
	display: block;
	max-width: 760px;
	padding-top: 65px;
	padding-bottom: 40px;
	margin: 0 auto;
  }
  
  .roadmap-two .roadmap-box:before{
	  content: '';
	  position:absolute;
	  left:50%;
	  margin-left: -1px;
	  top:0;
	  bottom: 0;
	  height:100%;
	  border-left: 2px dashed #6D747C;
	  opacity:1;
	  z-index: 0;
  }
  
  .roadmap-two .road-map-item{
	position: relative;
	margin-bottom: 40px;
  }
  
  .roadmap-two .road-map-item:last-child{
	margin-bottom: 0;
  }
  
  .roadmap-block-two{
	position: relative;
	z-index: 1;
  }
  
  .roadmap-two .road-map-item .roadmap-block-two{
	position: relative;
	float: right;
	text-align: left;
	padding-left: 45px;
	width: 50%;
  }
  
  .roadmap-two .road-map-item:nth-child(even) .roadmap-block-two{
	float: left;
	text-align: right;
	padding-left: 0;
	padding-right: 45px;
  }
  
  .roadmap-block-two .inner-box{
	position: relative;
	display: block;
  }
  
  .roadmap-block-two .inner-box .check-icon{
	position: absolute;
	display: block;
	left: -61px;
	top: -2px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 29px;
	color: #ffffff;
	font-size: 16px;
	margin: 0 auto 20px;
	border: 2px solid #283445;
	background: #ffffff;
	border-radius: 50%;
  }
  
  .roadmap-two .road-map-item:nth-child(even) .roadmap-block-two .inner-box .check-icon{
	left: auto;
	right: -61px;
  }
  .fa-check:before {
    content: "\f00c";
    color: rgb(0, 5, 9);
}
  .roadmap-block-two .inner-box.checked .check-icon{
	  background: #48DCA8;
	  border-color: #48DCA8;
  }
  
  .roadmap-block-two .inner-box .check-icon i,
  .roadmap-block-two .inner-box .check-icon .fa,
  .roadmap-block-two .inner-box.checked .check-icon:before{
	display: none;
  }

  .roadmap-block-two .inner-box.checked .check-icon i,
  .roadmap-block-two .inner-box.checked .check-icon .fa{
	display: inline-block;
  }
  
  .roadmap-block-two .inner-box .date{
	position: relative;
	display: block;
	color: #101010;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4em;
	padding-bottom: 7px;
	margin-bottom: 15px;
  }
  
  .roadmap-block-two .inner-box .date:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 40px;
	border-bottom: 4px solid #DCDCE7;
  }
  
  .roadmap-two .road-map-item:nth-child(even) .roadmap-block-two .inner-box .date:before{
	left: auto;
	right: 0;
  }
  
  .roadmap-block-two .inner-box.checked .date:before{
	border-bottom-color: #48DCA8;
  }
  
  .roadmap-block-two .text{
	position: relative;
	color: #6D747C;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5em;
  }


.check-icon svg {
	fill: #ffffff;
  }

  .inner-box .check-icon svg{
	display: none;
  }
  .inner-box.checked .check-icon svg{
	display: inline-block;
  }


  
  @media only screen and (max-width:599px) {

  .roadmap-two .road-map-item .roadmap-block-two,
	.roadmap-two .road-map-item:nth-child(even) .roadmap-block-two{
		padding: 0;
		width: 100%;
		text-align: center;
	}

	.roadmap-two .roadmap-box:before{
		display: none;
	}

	.roadmap-block-two .inner-box .check-icon,
	.roadmap-two .road-map-item:nth-child(even) .roadmap-block-two .inner-box .check-icon{
		position: relative;
		left: 0;
		right: 0;
		margin: 0 auto 20px;
	}

	.roadmap-block-two .inner-box .date:before,
	.roadmap-two .road-map-item:nth-child(even) .roadmap-block-two .inner-box .date:before{
		right: auto;
		left: 50%;
		margin-left: -20px;
	}

	.roadmap-two .roadmap-box{
		padding-top: 0;
		padding-bottom: 0px;
	}
  }

.mission{
	margin-top: 80px;
	background-color: #f5f6fb;
	
}

  .fundimg {
	width: 90%;
	/* box-shadow: 0 10px 40px -10px rgba(0,64,128,.2); */
  }



  .about-content h2 {
	color: #1d293e;
	font-size: 40px;
	font-weight: 600;
	line-height: 58px;
	text-transform: capitalize;
	margin-bottom: 15px;
	text-align: center;
}
@media only screen and (max-width:480px) { 
	.about-content h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

.about-desc{
	text-align: justify;
}
.counter-chld{
	margin-top: 30px;
}
.counter-chld:last-child{
	justify-content: center;
}

.about-counter.mt-4.pt-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}



.counter-icon{
	display: flex;
	justify-content: end;
	width: 100px;
	margin-right: 20px;
}
.counter-icon img{
	width: 100%;
}
.counter-name{
	font-weight: bold;
	text-align: center;
}

.accordion-body {text-align: justify;}



